# Systems and Editors
.idea
.vscode
**/.DS_Store
**/*.iml

# Packages
**/node_modules
**/.vite
**/build
**/server
**/dist

# Tools
.moon/cache
.moon/docker
**/.env*

# Temporary
**/*.mrpack
**/.wrangler
**/_cache
**/temp/*

# Exceptions
!**/.gitkeep
!**/temp
